
*      Label      */
.col-form-label {
  line-height: 1.8; }

.required-label {
  color: red; }

.label-align-left {
  text-align: left; }

.label-align-right {
  text-align: right; }

.label-align-center {
  text-align: center; }

/*     Input    */
.form-group,
.form-check {
  margin-bottom: 0;
  padding: 10px; }

.form-group label,
.form-check label {
  margin-bottom: 0.5rem;
  color: #495057;
  font-size: 1rem;
  white-space: nowrap; }

.form-group-default {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 4px;
  padding-top: 7px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
  overflow: hidden;
  width: 100%;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  margin-bottom: 15px; }
  .form-group-default label {
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    margin: 0;
    display: block;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease; }
  .form-group-default label:not(.error) {
    font-size: 10.5px !important;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 400; }
  .form-group-default .form-control {
    background: unset !important; }
  .form-group-default .form-control, .form-group-default .form-select {
    border: 0;
    min-height: 25px;
    padding: 0;
    margin-top: 6px;
    font-size: 1rem; }
  .form-group-default select.form-control:not([size]):not([multiple]), .form-group-default select.form-select:not([size]):not([multiple]) {
    height: unset !important; }
  .form-group-default.active {
    border-color: rgba(0, 0, 0, 0.1) !important;
    background-color: #f0f0f0; }
    .form-group-default.active label {
      opacity: 0.5; }

.form-floating-custom {
  position: relative; }
  .form-floating-custom .form-control, .form-floating-custom .form-select {
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-radius: 0;
    padding-left: 0;
    background: transparent !important; }
  .form-floating-custom label {
    padding-left: 0 !important; }
  .form-floating-custom .form-control:focus + label, .form-floating-custom .form-control:not(:placeholder-shown) + label, .form-floating-custom .form-select:focus + label, .form-floating-custom .form-select:not(:placeholder-shown) + label {
    font-size: 85% !important;
    transform: translate3d(0, -10px, 0);
    top: 0;
    opacity: 1;
    padding: .375rem 0 .75rem; }
  .form-floating-custom .form-control:not(:placeholder-shown) + label, .form-floating-custom .form-select:not(:placeholder-shown) + label {
    color: #1572E8 !important; }
  .form-floating-custom .form-control:not(:placeholder-shown) ~ label::after {
    background: transparent !important; }
  .form-floating-custom .form-control ::-webkit-input-placeholder {
    color: transparent; }
  .form-floating-custom .form-control :-moz-placeholder {
    color: transparent; }
  .form-floating-custom .form-control ::-moz-placeholder {
    color: transparent; }
  .form-floating-custom .form-control :-ms-input-placeholder {
    color: transparent; }
  .form-floating-custom > .form-select ~ label::after {
    display: none !important; }
  .form-floating-custom > .form-control ~ label::after {
    background: transparent !important; }

.form-inline label {
  margin-bottom: 0 !important; }

.input-fixed {
  width: 200px; }

.form-control.input-full {
  width: 100% !important; }

.has-success label {
  color: #31CE36 !important; }
.has-success .form-control {
  border-color: #31CE36 !important;
  color: #31CE36 !important; }
.has-success .input-group-text {
  border-color: #31CE36 !important;
  background: #31CE36 !important;
  color: #ffffff !important; }

.has-error label {
  color: #F25961 !important; }
.has-error .form-control {
  border-color: #F25961 !important;
  color: #F25961 !important; }
.has-error .input-group-text {
  border-color: #F25961 !important;
  background: #F25961 !important;
  color: #ffffff !important; }

.input-group label.error, .input-group label.success {
  width: 100%;
  order: 100; }

.custom-control {
  position: relative; }
  .custom-control.custom-radio, .custom-control.custom-checkbox {
    margin-bottom: 0;
    cursor: pointer;
    margin-right: 25px;
    display: inline-block; }
    .custom-control.custom-radio .custom-control-input, .custom-control.custom-checkbox .custom-control-input {
      margin-right: 10px; }
    .custom-control.custom-radio label.error, .custom-control.custom-radio label.success, .custom-control.custom-checkbox label.error, .custom-control.custom-checkbox label.success {
      position: absolute;
      width: 100vh;
      top: 23px;
      left: 0; }

.has-feedback {
  position: relative; }

.form-control-feedback {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px; }

.has-success .form-control-feedback {
  color: #31CE36; }

.has-error .form-control-feedback {
  color: #F25961; }

.input-group.has-icon {
  border-radius: 0.25rem;
  border: 1px solid #ced4da; }
.input-group.has-success, .input-group.has-icon.has-success {
  border: 1px solid #31CE36 !important;
  color: #31CE36; }
.input-group.has-error {
  border: 1px solid #F25961 !important;
  color: #F25961; }
.input-group.has-icon.has-error {
  border: 1px solid #F25961 !important;
  color: #F25961; }
.input-group.has-icon .form-control {
  border-radius: 0.25rem;
  border: 0px;
  position: relative; }
.input-group.has-icon .input-group-icon {
  background: transparent;
  border: 0px; }

.input-square {
  border-radius: 0px !important; }

.input-pill {
  border-radius: 1.3rem !important; }

.input-solid {
  background: #e8e8e8 !important;
  border-color: #e8e8e8 !important; }

.input-border-bottom {
  border-width: 0 0 1px 0;
  border-radius: 0px;
  padding: 0.75rem 0;
  background: transparent !important; }


.selectgroup {
    display: -ms-inline-flexbox;
    display: inline-flex; }
  
  .selectgroup-item {
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
    font-weight: 400 !important; }
    .selectgroup-item + .selectgroup-item {
      margin-left: -1px; }
    .selectgroup-item:not(:first-child) .selectgroup-button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
    .selectgroup-item:not(:last-child) .selectgroup-button {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
  
  .selectgroup-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0; }
  
  .selectgroup-button {
    display: block;
    border: 1px solid rgba(0, 40, 100, 0.12);
    text-align: center;
    padding: 0.375rem 1rem;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
    color: #9aa0ac;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1rem;
    line-height: 1.5rem;
    min-width: 2.375rem; }
  
  .selectgroup-button-icon {
    padding-left: .5rem;
    padding-right: .5rem;
    font-size: 1rem; }
  
  .selectgroup-input:checked + .selectgroup-button {
    border-color: #1572E8;
    z-index: 1;
    color: #1572E8;
    background: rgba(21, 114, 232, 0.15); }
  .selectgroup-input:focus + .selectgroup-button {
    border-color: #1572E8;
    z-index: 2;
    color: #1572E8;
    box-shadow: 0 0 0 2px rgba(21, 114, 232, 0.25); }
  
  .selectgroup-pills {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: start;
    align-items: flex-start; }
    .selectgroup-pills .selectgroup-item {
      margin-right: .5rem;
      -ms-flex-positive: 0;
      flex-grow: 0; }
    .selectgroup-pills .selectgroup-button {
      border-radius: 50px !important; }
  
  .selectgroup.selectgroup-primary .selectgroup-input:checked + .selectgroup-button {
    border-color: #1572E8;
    color: #1572E8;
    background: rgba(21, 114, 232, 0.15); }
  .selectgroup.selectgroup-primary .selectgroup-input:focus + .selectgroup-button {
    border-color: #1572E8;
    color: #1572E8;
    box-shadow: 0 0 0 2px rgba(21, 114, 232, 0.25); }
  .selectgroup.selectgroup-secondary .selectgroup-input:checked + .selectgroup-button {
    border-color: #6861CE;
    color: #6861CE;
    background: rgba(104, 97, 206, 0.15); }
  .selectgroup.selectgroup-secondary .selectgroup-input:focus + .selectgroup-button {
    border-color: #6861CE;
    color: #6861CE;
    box-shadow: 0 0 0 2px rgba(104, 97, 206, 0.25); }
  .selectgroup.selectgroup-info .selectgroup-input:checked + .selectgroup-button {
    border-color: #48ABF7;
    color: #48ABF7;
    background: rgba(72, 171, 247, 0.15); }
  .selectgroup.selectgroup-info .selectgroup-input:focus + .selectgroup-button {
    border-color: #48ABF7;
    color: #48ABF7;
    box-shadow: 0 0 0 2px rgba(72, 171, 247, 0.25); }
  .selectgroup.selectgroup-success .selectgroup-input:checked + .selectgroup-button {
    border-color: #31CE36;
    color: #31CE36;
    background: rgba(49, 206, 54, 0.15); }
  .selectgroup.selectgroup-success .selectgroup-input:focus + .selectgroup-button {
    border-color: #31CE36;
    color: #31CE36;
    box-shadow: 0 0 0 2px rgba(49, 206, 54, 0.25); }
  .selectgroup.selectgroup-warning .selectgroup-input:checked + .selectgroup-button {
    border-color: #FFAD46;
    color: #FFAD46;
    background: rgba(255, 173, 70, 0.15); }
  .selectgroup.selectgroup-warning .selectgroup-input:focus + .selectgroup-button {
    border-color: #FFAD46;
    color: #FFAD46;
    box-shadow: 0 0 0 2px rgba(255, 173, 70, 0.25); }
  .selectgroup.selectgroup-danger .selectgroup-input:checked + .selectgroup-button {
    border-color: #F25961;
    color: #F25961;
    background: rgba(242, 89, 97, 0.15); }
  .selectgroup.selectgroup-danger .selectgroup-input:focus + .selectgroup-button {
    border-color: #F25961;
    color: #F25961;
    box-shadow: 0 0 0 2px rgba(242, 89, 97, 0.25); }
  
  
