<!DOCTYPE html>

{% extends "base.html" %}
{% load static %}
{% block css %} {% endblock %}
{% block title %} Главная {% endblock title %}
{% block header %} 
<head>
  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&amp;family=Roboto:wght@500;700&amp;display=swap" rel="stylesheet">

  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link href="{% static 'css/my_css/animate.min.css'%}" rel="stylesheet">

</head>

{% endblock header %}
{% block content %} 
  <!-- Верхний блок -->
<div class="container-fluid hero-header bg-light py-5 mb-5">
  <div class="container py-5">
      <div class="row g-5 align-items-center">
          <div class="col-lg-6">
              <h1 class="display-4 mb-3 animated slideInDown">Переведем Ваш бизнес на облачные технологии.</h1>
              <p class="animated slideInDown">Организуем безопастные рабочие места для вашего предприятии в облаке, с доступом из любой точки мира. 
                Предоставляем виртуальные сервера VPS/VDS, выделенные сервера а так же сервера с GPU. </p>
              <a href="" class="btn btn-primary py-3 px-4 animated slideInDown">Заказать</a>
          </div>
          <div class="col-lg-6 animated fadeIn">
              <img class="img-fluid animated pulse infinite" style="animation-duration: 3s;" src="{% static 'images/topimg.png' %}" alt="">
          </div>
      </div>
  </div>
</div>
 <!-- Конец Верхний блок -->

<!-- О сервисе Блок -->

<div class="container-xxl py-5">
  <div class="container">
      <div class="row g-5 align-items-center">
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
              <img class="img-fluid" src="{% static 'images/cod.png'%}" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
              <div class="h-100">
                  <h1 class="display-6">Облачные сервера</h1>
                  <p class="text-primary fs-5 mb-4">Виртуальные и Выделенные сервера</p>
                  <p>Виртуальный сервер это идеальное решение для работы бухгалтера с 1C, сотрудников отдела продаж,
                    или любых офисных, и сотрудников на удаленке.
                  </p>
                  <p class="mb-4">Технология не требует мощных персональных компьютеров в вашем офисе, что экономит бюджет
                    на закупку оргтехники, а при необходимости предоставим для Вас "тонкий клиент", что вообще избавит Вас от
                    необходимости приобретать компьютеры для Ваших новых сотрудников.
                  </p>
                  <div class="d-flex align-items-center mb-2">
                      <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"></i>
                      <span>Безопастность данных.</span>
                  </div>
                  <div class="d-flex align-items-center mb-2">
                      <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"></i>
                      <span>Гибкость в мощьности сервера.</span>
                  </div>
                  <div class="d-flex align-items-center mb-4">
                      <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"></i>
                      <span>Ваш доступ с любой точки мира.</span>
                  </div>
                  <div class="d-flex align-items-center mb-4">
                    <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"></i>
                    <span>Доступ с любого устройства.</span>
                </div>
                  <a class="btn btn-primary py-3 px-4" href="">Заказать</a>
              </div>
          </div>
      </div>
  </div>
</div> 

<!--Конец О сервисе Блок 1-->

<!-- О сервисе Блок 2-->

<div class="container-xxl py-5">
  <div class="container">
      <div class="row g-5 align-items-center">

          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
              <div class="h-100">
                  <h1 class="display-6">Сервера с GPU</h1>
                  <p class="text-primary fs-5 mb-4">Выделенный сервер с видеокартой Nvidea</p>
                  <p>Мощьные и быстродейственные сервера с видеокартой RTX 4090 24 Gb памяти. Предназначеные для работы с нейронными сетями,
                      видео рендерингом, сложной 3d графикой и другими ресурсозатратными задачами.
                  </p>
                  <p class="mb-4">Широко применяется в современном мире для решения задач в области: </p>
                  <div class="d-flex align-items-center mb-2">
                      <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"></i>
                      <span>Большие данные. Data Science.</span>
                  </div>
                  <div class="d-flex align-items-center mb-2">
                      <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"></i>
                      <span>Работа с графикой.</span>
                  </div>
                  <div class="d-flex align-items-center mb-4">
                      <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"></i>
                      <span>Математические задачи.</span>
                  </div>
                  <div class="d-flex align-items-center mb-4">
                    <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"></i>
                    <span>Работа с нейросетями.</span>
                </div>
                  <a class="btn btn-primary py-3 px-4" href="">Заказать</a>
              </div>
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
            <img class="img-fluid" src="{% static 'images/AI.png'%}" alt="">
          </div>
      </div>
  </div>
</div> 

<!--Конец О сервисе Блок 2-->

  <!-- Строенный Блок -->
<div class="container-xl">

  <div class="row justify-content-center align-items-center">

    <div class="col-md-8">
      <div class="card">
          <div class="card-header">
              <h4 class="card-title">Калькулятор тарифов.</h4>
          </div>
            <div class="card-body">
              <ul class="nav nav-pills nav-secondary  nav-pills-no-bd nav-pills-icons justify-content-center" id="pills-tab-with-icon" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="pills-home-tab-icon" data-bs-toggle="pill" href="#pills-home-icon" role="tab" aria-controls="pills-home-icon" aria-selected="true">
                    <i class="icon-home"></i>
                    Виртальный сервер
                  </a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="pills-profile-tab-icon" data-bs-toggle="pill" href="#pills-profile-icon" role="tab" aria-controls="pills-profile-icon" aria-selected="false" tabindex="-1">
                    <i class="far fa-user"></i>
                    Выделенный сервре
                  </a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="pills-contact-tab-icon" data-bs-toggle="pill" href="#pills-contact-icon" role="tab" aria-controls="pills-contact-icon" aria-selected="false" tabindex="-1">
                    <i class="icon-camrecorder"></i>
                    GPU сервер
                  </a>
                </li>
              </ul>
              <div class="tab-content mt-2 mb-3" id="pills-with-icon-tabContent">
                <!-- 1 блок -->
                <div class="tab-pane fade show active" id="pills-home-icon" role="tabpanel" aria-labelledby="pills-home-tab-icon">
                  <!--  Вирт калькулятор -->
                  <div class="container-fluid text-center">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-10 text-bg-light p-3">
                          Расчитать стоимость виртуального сервера.
                        </div>
                        <div class="col-4">
                          <div class="form-group">
                              <label class="form-label">Количество ядер vCPU</label>
                              <div class="selectgroup w-100">
                                <label class="selectgroup-item" >
                                  <input type="radio" name="value" value="50" class="selectgroup-input" checked="">
                                  <span class="selectgroup-button">2</span>
                                </label>
                                <label class="selectgroup-item">
                                  <input type="radio" name="value" value="100" class="selectgroup-input">
                                  <span class="selectgroup-button">4</span>
                                </label>
                                <label class="selectgroup-item">
                                  <input type="radio" name="value" value="150" class="selectgroup-input">
                                  <span class="selectgroup-button">6</span>
                                </label>
                                <label class="selectgroup-item">
                                  <input type="radio" name="value" value="200" class="selectgroup-input">
                                  <span class="selectgroup-button">8</span>
                                </label>
                              </div>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                              <label class="form-label">Количество памяти RAM Gb</label>
                              <div class="selectgroup w-100">
                                <label class="selectgroup-item">
                                  <input type="radio" name="value" value="50" class="selectgroup-input" checked="">
                                  <span class="selectgroup-button">2</span>
                                </label>
                                <label class="selectgroup-item">
                                  <input type="radio" name="value" value="100" class="selectgroup-input">
                                  <span class="selectgroup-button">4</span>
                                </label>
                                <label class="selectgroup-item">
                                  <input type="radio" name="value" value="150" class="selectgroup-input">
                                  <span class="selectgroup-button">6</span>
                                </label>
                                <label class="selectgroup-item">
                                  <input type="radio" name="value" value="200" class="selectgroup-input">
                                  <span class="selectgroup-button">8</span>
                                </label>
                                <label class="selectgroup-item">
                                  <input type="radio" name="value" value="200" class="selectgroup-input">
                                  <span class="selectgroup-button">16</span>
                                </label>
                              </div>
                          </div>
                        </div>
                
                        <div class="col-10 text-center">
                          <label for="customRange3" class="form-label">Объем дискового пространства</label>
                          <input type="range" class="form-range" min="80" max="500" step="20" id="customRange3">  
                
                          <input type="radio" class="btn-check" name="options-base" id="option5" autocomplete="off" checked>
                            <label class="btn" for="option5">50 Gb</label>
                
                            <input type="radio" class="btn-check" name="options-base" id="option6" autocomplete="off">
                            <label class="btn" for="option6">80 Gb</label>
                
                            <input type="radio" class="btn-check" name="options-base" id="option7" autocomplete="off" >
                            <label class="btn" for="option7">120 Gb</label>
                
                            <input type="radio" class="btn-check" name="options-base" id="option8" autocomplete="off">
                            <label class="btn" for="option8">150 Gb</label>
                
                            <input type="radio" class="btn-check" name="options-base" id="option9" autocomplete="off">
                            <label class="btn" for="option9">200 Gb</label>
                            
                            <input type="radio" class="btn-check" name="options-base" id="option10" autocomplete="off">
                            <label class="btn" for="option10">250 Gb</label>
                        </div>
                        <div class="col-10 text-bg-primary p-3"> 
                          Итого: 3 900 руб/месяц
                        </div>
                    </div>
                  </div>
                <!-- Конец Вирт калькулятор -->
                
                </div>
                <!-- 2 блок -->
                <div class="tab-pane fade" id="pills-profile-icon" role="tabpanel" aria-labelledby="pills-profile-tab-icon">
                  <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                  <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.
                  </p>
                </div>
                <!-- 1 блок -->
                <div class="tab-pane fade" id="pills-contact-icon" role="tabpanel" aria-labelledby="pills-contact-tab-icon">
                  <p>Pityful a rethoric question ran over her cheek, then she continued her way. On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country.</p>

                  <p> But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their</p>
                </div>
              </div>
            </div>
      </div>
    </div>

  </div>

</div>
 <!-- Конец Строенный блок -->

 <!-- Факты блок -->
 <div class="container-xxl bg-light py-5 my-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-4 col-md-6 text-center wow fadeIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                <img class="img-fluid mb-4" src="img/icon-9.png" alt="">
                <h1 class="display-4" data-toggle="counter-up">123456</h1>
                <p class="fs-5 text-primary mb-0">Today Transactions</p>
            </div>
            <div class="col-lg-4 col-md-6 text-center wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                <img class="img-fluid mb-4" src="img/icon-10.png" alt="">
                <h1 class="display-4" data-toggle="counter-up">123456</h1>
                <p class="fs-5 text-primary mb-0">Monthly Transactions</p>
            </div>
            <div class="col-lg-4 col-md-6 text-center wow fadeIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
                <img class="img-fluid mb-4" src="img/icon-2.png" alt="">
                <h1 class="display-4" data-toggle="counter-up">123456</h1>
                <p class="fs-5 text-primary mb-0">Total Transactions</p>
            </div>
        </div>
    </div>
</div>

 <!-- Факты блок -->


 <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/_kor6106.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/_kor7075.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/_kor5983.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


<!-- FAQ блок -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px; visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
            <h1 class="display-6">FAQs</h1>
            <p class="text-primary fs-5 mb-5">Часто задаваемые вопросы.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Могу ли я заказать сервер с GPU для брутфорса паролей?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Нет. Мы не предоставляем сервера для брутфорса, так же как и для других задач которые
                                могут нанести вред третьим лицам. Мы нацелены только на прозрачное, честное сотрудничество.
                                И не приветствуем любую сомнительную деятельность на сервере. 
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Чем отличается VPS от VDS сервера?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                VPS (Virtual Private Server) дословно переводится Виртуальный приватный сервер.
                                VDS (Virtual Dedicated Server) дословно переводится Виртуальный выделенный сервер. 
                                На практике же это абсолютно одно и то же. Это виртуальный сервер (облачный сервер)
                                запушенный на базе физического. По итогу он получается изолированный - приватный от других,
                                так же запущенных на одном физическом. По этой причине Вы могли встретать, когда данные названия
                                пишут в таком виде: VPS/VDS.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Какая операционная система будет у меня на сервере?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Абсолютно любая на Ваш выбор. Мы предлагаем  Linux — Ubuntu, Alma, Debian, Rocky, CentOS, Oracle и FreeBSD, из операцонных систем 
                                Windows это 10 , 11 версия а так же Windows Server. Но при желании Вы сможете установить любую, свою операционную систеу.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                Если я не нашел подходящий тариф или характеристику у Вас на сайте?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                На сайте мы предложили самые популярные решения, но если вас интересуют другие характеристики
                                сервера или вы хотели получить скидку на более длительное размещение, Вы всегда можете обсудить все детали
                                с нашими менеджерами по телефону: <br>
                                8 900 155 77 55

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Есть ли у Вас тестовый период?
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Да это возможно. Поскольку мы нацелены на долгосрочные отношения, мы прекрасно понимаем,
                                если вы впервые начинаете пользоваться облачными технологиями и еще сомневаетесь подойдет ли это 
                                для Вас. Вы можете связаться с нами, мы обсудим ваши задачи, подберем решения, и организуем для Вас 
                                тестовый период. <br>
                                8 900 155 77 55
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                I’m on a strict budget. Do you have any low cost options?
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Dolor nonumy tempor elitr et rebum ipsum sit duo duo. Diam sed sed magna et magna
                                diam aliquyam amet dolore ipsum erat duo. Sit rebum magna duo labore no diam.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
                        <h2 class="accordion-header" id="headingSeven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                Will you maintain my site for me?
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Dolor nonumy tempor elitr et rebum ipsum sit duo duo. Diam sed sed magna et magna
                                diam aliquyam amet dolore ipsum erat duo. Sit rebum magna duo labore no diam.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
                        <h2 class="accordion-header" id="headingEight">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                I’m on a strict budget. Do you have any low cost options?
                            </button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Dolor nonumy tempor elitr et rebum ipsum sit duo duo. Diam sed sed magna et magna
                                diam aliquyam amet dolore ipsum erat duo. Sit rebum magna duo labore no diam.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Конец FAQ блок -->

{% endblock content%}