<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load admin_urls %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/my_css/form.css' %}">
    <script defer src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% block css %} {% endblock %}

    <title> {% block title %}{% endblock title %}</title>

</head>

<body>
 {% comment %} Навигация {% endcomment %}
 <nav class="navbar navbar-expand-lg bg-body-tertiary">
    {% comment %} Лого {% endcomment %}
    <div class="container">
      <a class="navbar-brand" href={% url "index" %}>
        <img src="{% static 'images/logo.png' %}" alt="Bootstrap" width="200" height="62">
      </a>
    </div>

    <div class="container-fluid">
      {% comment %} <a class="navbar-brand" href="#">Navbar</a> {% endcomment %}
      <!-- Кнопка мобильной версии -->
      <!-- ml-auto выровнил по правому краю но не выравнивается? -->
      <button class="navbar-toggler ml-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- ml-auto выровнил по правому краю но не выравнивается? -->
      <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Тарифы</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Операции
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Поиск пары</a></li>
              <li><a class="dropdown-item" href="">Анализ пары</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Рекомендации AI</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Как начать</a>
          </li>
          <li class="nav-item">
            <a href="" class="btn btn-outline-success">Log in</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<div>{% block header %}{% endblock header %}</div>  
<div>{% block content %}{% endblock content %}</div>    
    
<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="{% url 'index' %}" class="nav-link px-2 text-body-secondary">Главная</a></li>
      <li class="nav-item"><a href="" class="nav-link px-2 text-body-secondary">Тарифы</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Как начать</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Техническая поддержка</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2024 X VISION cloud</p>
  </footer>
</div>
</body>
</html>
